#modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
}

#modal-content {
  text-align: center;
  margin: auto;
  padding: 20px;
  background: #fff;
}

#quit-results-btn {
}
