#members {
  width: 30%;
  flex-direction: column;
  gap: var(--gutter);
}

.member {
  padding: 10px;
  border: 1px solid var(--main-button-border-color);
}

.member__progress-bar {
  width: 100%;
}

.member__progress-bar.finished {
  border-radius: 5px;
  background: green;
}

.member__status {
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.ready-status-red {
  background: red;
}

.ready-status-green {
  background: green;
}
